body{
  padding-bottom: 5rem;
  font-family: 'Changa', sans-serif;
}

h1{
  padding-top: 5vh;
}

.navbar{
  position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}


.hero{
  height: 70vh;
  background-image: url('/static/images/laptop.jpg');
  background-size: cover;
  background-position: center;
  width:100%;
  position: fixed;
  left:0;
}

.hero_company{
  height: 70vh;
  background-image: url('/static/images/women_looking.jpg');
  background-size: cover;
  background-position: center;
  width:100%;
  position: fixed;
  left:0;
}

.hero_admin{
  height: 70vh;
  background-image: url('/static/images/binary.jpg');
  background-size: cover;
  background-position: center;
  width:100%;
  position: fixed;
  left:0;
}

.justify-left{
  position: absolute;
  left:0;
  right:0;
  height: 70vh;
}

.welcome{
  text-align: center;
  color: black;
  background-color: rgba(240,240,240, 0.95);
  width: max-content;
  margin: 0 auto;
  margin-top: 10vh;
}

#hero{
  height: 50vh%;
  width:100%;
  position: relative;
  z-index: -10;
}

.homepage{
  position: absolute;
  top: 70vh;
  background-color: white;
  width: 100%;
  left: 0px;
  right: 0px;
  padding-bottom: 30px;
  min-height: 95vh;
}

.homepage h3{
  margin-left: 15%
}

.homepage .jumbotron h3{
  margin-left: 5%
}

.homepage p{
  margin-left: 15%
}

.homepage .jumbotron{
  margin-left: 10%;
}

.right_button1{
  position:absolute;
  right: 10px;
  top: 20px;
}

.right_button2{
  position:absolute;
  right: 10px;
  top: 50px;
}

.jobpostjumbo{
  position: relative;
  width: 80%;
}

.message{
  margin-left: 0 !important;
  width: 46%;
  display: inline-block;
  margin-right: 3%;
}

.container.footer{
  position:fixed;
  width: 100% !important;
  bottom: 0;
  left:0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #080808;
  z-index: 10;
  padding-top: 10px;
}

.vertical-center {
  position: absolute;
  left:0;
  right:0;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  width:100%;
  display: flex;
  align-items: center;
}

.login{
  margin:0 auto;s
}

.jobpostjumbo{
  margin-top: 20px;
}

.jumbotron.message{
  background-color: rgba(0, 40, 185, 0.5);
  position: relative;
}

.reply{
  position: absolute;
  bottom:0;
  right: 0;
  margin-top: 0;
}

.namesselect{
  width:50%;
}

.test{
  width:40%;
}

#title{
  width:50%;
}

.form-line{
  margin-top: 20px;
}

textarea{
  width:100%;
}

form.form{
  display:inline-block;
}

.footer_left{
  align-content: center;
  text-align: center;
  display: inline-block;
  float: left;
  width: 30%;
}

.footer_center{
  align-content: center;
  text-align: center;
  display: inline-block;
  width: 40%;
}

.footer_right{
  align-content: center;
  text-align: center;
  display: inline-block;
  float: right;
  width: 30%;
}
