{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_content %}
<h1>Attributions</h1>
<p>At Project FREElancer, we would like to thank the following people for making this come to life:</p>

<h2>We at FREELance would like to thank personally:
<ul>
  <li>Ryan Guest - designer and builder</li>
  <li>Code Institute - all the tutors, mentors and staff for their hard work</li>
</ul>

<h2>Code Contributions From</h2>

<h3> <a href="https://getbootstrap.com/docs/4.4/getting-started/introduction/">Bootstrap4</a></h3>
<p> Bootstrap Library used throughout the project mainly to make site responsive using the Bootstrap Grid System.</p>
<h3> <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a></h3>
<p>Lite Framework in which the app was built.</p>
<h3><a href="https://select2.org/">Select2</a></h3>
<p>Jquery Replacement for select boxes.</p>
<h3><a href="https://jquery.com/">Jquery</a></h3>
<p>Library to make javascript more readable/funtional.</p>

  {% endblock %}
