{% extends 'base.html' %}

{% block title %}Project FREElance{% endblock %}

{% block page_content %}
<h1>{% if name %}Hello, {{ name }}{% else %}Hello, stranger...{% endif %}!</h1>
{% if not known %}
<p>Nice to meet you! Care to login?</p>
{% else %}
<p>Welcome back!</p>
{% endif %}
{% if name %}
<form class="logout" action="/logout" method="post">
  <button type="submit" name="Logout">Logout</button>
</form>
<h3>This is your homepage</h3>
{% else %}
<form class="form" action="/login" method="POST">
  <button type="submit" name="Login">Login</button>
</form>
<p><small><a href="/register">Click here to register</a></small></p>
<h3>Generic Homepage</h3>
{% endif %}
{% endblock %}