{% extends "base.html" %}

{% block title %}User Details{% endblock %}

{% block page_content %}
<h1 hidden>Job Details</h1>
<div class="jumbotron">
<div class="aboutjob">
<h2>{{ job.title }}</h2>
<p>The main technology required for this job is {{ job.stack }}</p>
<h3>Description</h3>
<p>{{ job.description }}</p>
<h3>Budget</h3>
<p>Estimated budget for this job is:  {% if job.budget %}£{{ job.budget }}{% else %}{{ job.hourlypay }} per hour{% endif %}</p>
</div>
<div class="aboutcompany">
  <h2>About {{ poster.username }}</h2>
  <p pre>{{ poster.bio }}</p>
</div>
<div class="responseform">
  <h2>Interested?</h2>
  {% if name %}
  <form class="" action="/job/interest" method="post">
    <label for="job_id">Job ID: </label>
    <input type="text" name="job_id" value="{{ job.id }}" readonly><br>
    <label for="name">Name: </label>
    <input type="text" name="name" value="{{ name }}" readonly><br>
    <label for="shortintro">Please give an introduction for yourself</label> <br>
    <textarea name="shortintro" cols="10" rows="6"></textarea><br>
    {% if job.hourlypay %}
    <label for="pricehour">What is your price per hour: </label>
    £<input type="number" name="pricehour" value=""> <br>
    {% else %}
    <label for="pricejob">What is your estimated price for the complete job: </label>
    £<input type="number" name="pricejob" value=""> <br>
    {% endif %}
    <button type="submit" name="button">Respond to Posting</button>
  </form>
  {% else %}
  <p>To respond to this job posting, please <a href="/register">register</a></p>
  {% endif %}
</div>
</div>
{% endblock %}
